@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=OpenDyslexic&display=swap');

:root {
  --swiper-theme-color: #dc2626 !important;
}

.swiper-slide {
  width: 300px;
  height: 400px;
}

body {
  @apply text-gray-800;
}

.font-dyslexia {
  font-family: 'OpenDyslexic', sans-serif !important;
  font-size: 1.2rem !important;
  /* Taille légèrement plus grande */
  letter-spacing: 0.1em !important;
  /* Espacement des lettres accru */
  line-height: 1.6 !important;
  /* Espacement vertical */
  background-color: #f5f5dc !important;
  /* Fond beige clair pour le confort visuel */
  color: #333 !important;
  /* Texte légèrement plus foncé */
  transition: all 0.3s ease-in-out;

}

.fixed-menu {
  width: 80%;
  /* Ajuste la largeur pour mobile */
  max-width: 320px;
  /* Limite la largeur à un maximum */
}

.accessibility-button {
  padding: 0.5rem 1rem;
  /* Réduit le padding pour un design compact */
  margin-bottom: 1rem;
  /* Ajoute un espacement entre les boutons */
  font-size: 0.9rem;
  /* Réduit légèrement la taille du texte */
}

@media (max-width: 768px) {
  .fixed-menu {
    width: 90%;
    /* Plus compact sur mobile */
  }
}



/* Mode Contraste élevé */
.high-contrast {
  background-color: black !important;
  color: yellow !important;
}

.high-contrast a {
  color: cyan !important;
}

/* Mode Nuit */
.night-mode {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

.night-mode a {
  color: #bb86fc !important;
}